<mat-card @flyInOut>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-card-content>

      <mat-form-field>
        <input zcAutoFocus matInput formControlName="username" placeholder="User Name">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="Password">
      </mat-form-field>
      <mat-card-actions fxLayout fxLayoutAlign="end">
        <button type="submit" mat-raised-button [disabled]="loginForm.invalid && loginForm.touched">Log in</button>
      </mat-card-actions>
    </mat-card-content>
  </form>
</mat-card>
