<!-- <mat-toolbar color="primary">
  <span>My Shell Application</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="auth.isLoggedIn">
    <mat-selection-list [multiple]="false">
      <mat-list-option routerLink="/home">Home</mat-list-option>
      <mat-list-option routerLink="/heroes">Heroes</mat-list-option>
      <mat-list-option (click)="onLogout()">Logout</mat-list-option>
    </mat-selection-list>
  </mat-sidenav>

  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<app-sidenav></app-sidenav>